/* TEMPLATE STYLES */

html,
body {
    position: relative;
     background-color: whitesmoke;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}


/* Carousel*/

.carousel,
.carousel-item {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

#login{
    margin-top: 50px;
}

#register{
    margin-top: 50px;
}

/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}

.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*Customs*/

.nctthai-brand {
    font-size: 14px;
    color: white;
}

.nctthai-brand img {
    width: 80px;
    height: 50px;
}

.nctthai-brand p{
  margin: 0 auto;
  width: 210px;
  color: white;
  font-size: 12px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.divider-new::after,
.divider-new::before {
    background: orangered;
}

#ourcustomers{
    background-color: white;
}

#about img {
    width: 200px;
    height: 200px;
}

@media handheld,
only screen and (max-width: 2200px) {
    #customers img {
        width: 160px;
        height: 137px;
    }
    #bjc img {
        width: 160px;
        height: 73px;
    }
}

@media handheld,
only screen and (max-width: 500px) {
    /* Styles */
    #customers img {
        width: 200px;
        height: 157px;
    }
    #bjc img {
        width: 160px;
        height: 113px;
    }
}

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
}


.thumbnail {
    line-height: 1.42857143;
    height: 470px;
    /*background-color: #fff;*/
    background: -webkit-linear-gradient(bott, #2083bc 5%, #20bca7, #ffffff 35%);
    background: -o-linear-gradient(top, #2083bc 5%, #20bca7, #ffffff 35%);
    background: -moz-linear-gradient(top, #2083bc 5%, #20bca7, #ffffff 35%);
    background: linear-gradient(top, #2083bc 5%, #20bca7, #ffffff 35%);
    background-image: linear-gradient(to bottom, #2083bc 5%, #20bca7, #ffffff 35%);
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail>img,
.thumbnail a>img {
    margin-right: auto;
    margin-left: auto;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #337ab7;
}

.thumbnail .caption {
    text-align: left;
    padding: 9px;
    color: #333;
}

@media (max-width: 979px) {
    #mycarousel div.carousel-inner {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 470px) {
    #mycarousel div.carousel-inner {
        max-width: 300%;
        width: 150%;
        min-height: 300px;
    }
}

.bg-primary {
  background-color: #0275d8 !important;
}