

.nctthai-brand{
    padding: 0px;
    padding-left: 10px;
    img{
        width: 80px;
        height: 50px;
    }

    p{
        margin: 0 auto;
        width: 200px;
        color: black;
        font-size: 10px;
        text-align: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        line-height: 1.2em;
    }
}

.input-group-addon:first-child{
    width:100px;
    text-align: right;
}

.input-group{
    margin: 5px;
}